.togglerBackground {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 5rem;
  height: 2rem;
  border: 0.125rem solid var(--clr-text);
  background-color: var(--clr-bg);
  border-radius: 100px;
}

.togglerCircle {
  background-color: var(--clr-accent);
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: calc(50% - 0.8rem);
  left: 0.1rem;
  border-radius: 50%;
  transition: left 500ms;
}

.toggler:checked ~ .togglerCircle {
  left: calc(100% - 1.7rem);
}

.toggler {
  display: none;
}
